<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/registrar.css">
    <title>Cadastro</title>
</head>
<body>
    <section class="areaRegistro">
        <div class="registro">
            <div>
                <img src="static/css/humanData.corp.png">
            </div>

            <form action="/cadastro" method="post">
                <input type="text" id="nome" name="nome" placeholder="Nome" autofocus>
                <input type="email" id="email" name="email" placeholder="E-mail">
                <input type="password" id="senha" name="senha" placeholder="Senha">
                <input type="submit" value="Finalizar">
            </form>
            {{res}}
        </div>
    </section>
</body>
</html>