<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/inicio.css">
    <link rel="icon" href="static/css/hDlogo.png">
    <title>humanData</title>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="static/css/BackgroundVideo.mp4" type="video/mp4">
    </video>
    <div class="logo">
        <img src="static/css/humanData.corp.png">
    </div>
    <div class="conteudo">
        <h1>O Quanto Nós Podemos Evoluir?</h1>
        <p1>A finalidade deste site é coletar informações sobre o índice
            de desenvolvimento humano e compará-las com demais simulações realizadas em nossa plataforma.</p1>
        <br>
        <br>
        <p2>Calcule agora o IDH de seu ambiente agora!</p2>

        <form action="/logar">
            <input id="botao" type="submit" value="Começar"/>
        </form>
    </div>
</body>
</html>