<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Login</title>
</head>
<body>
    <section class="areaLogin">
        <div class="login">
            <div>
                <img src="static/css/humanData.corp.png">
            </div>

            <form action="/login" method="post">
                <input type="email" id="email" name="email" placeholder="E-mail" autofocus>
                <input type="password" id="senha" name="senha" placeholder="Senha">
                <input type="submit" value="Entrar">
            </form>
            <p>Não tem uma Conta? <a href="/cadastrar">Registrar</a></p>
            {{res}}
        </div>
    </section>
</body>